extends ../layouts/dashboard

block content
    div(class="uk-container dashboard")
        div
            include ../messages
            div(class="site-card uk-padding")
                ul(class="uk-margin-remove" uk-accordion)
                    li(class="uk-open")
                        a(href="#" class="uk-accordion-title") #{site.name}
                        div(class="uk-accordion-content")
                            div(class="site-card-header" uk-grid)
                                div(class="uk-width-1-2@m")
                                    p(class="sc-name")
                                        span(uk-icon="tag")
                                        | #{category.name}
                                div(class="uk-width-1-2@m uk-text-right@m")
                                    a(href=site.url class="site-link" target="_blank") #{site.url}
                            div(class="site-card-body")
                                p= site.description

            div(class="site-cred")
                div(class="uk-grid-match" uk-grid)
                    each cred, i in credentials
                        div(class="uk-width-1-2@s uk-width-1-3@m")
                            div(class="cred-card")
                                div(class="cred-card-head")
                                    table
                                        tr
                                            td(class="icon")
                                                span(uk-icon="lock")
                                            td(class="text") #{site.name}
                                div(class="cred-card-body")
                                    table(classs="uk-table uk-table-responsive")
                                        tbody
                                            tr
                                                th Username
                                                td #{cred.username}
                                            tr 
                                                th Email
                                                td #{cred.email}
                                div(class="cred-card-footer")
                                    button(class="uk-button uk-width-1-1" uk-toggle="target: #view-cred-modal") View Credential
    button(class="catadd" uk-tooltip="Add Credential" uk-toggle="target: #add-cred-modal")
        span(uk-icon="plus")

    // Add Credential Modal
    div(class="cred-modal" id="add-cred-modal" uk-modal)
        div(class="uk-modal-dialog")
            button(class="uk-modal-close-default" type="button" uk-close)
            div(class="uk-modal-header")
                h2(class="uk-modal-title") Add Credential
            form(class="add-cred-form" method="POST" action="/user/credentials/"+site._id+"/add")
                div(class="uk-modal-body")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="username") Username
                        input(type="text" class="uk-input" name="username" id="username")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="email") Email
                        input(type="email" class="uk-input" name="email" id="email")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="mobile") Mobile
                        input(type="text" class="uk-input" name="mobile" id="mobile")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="password") Password
                        input(type="password" class="uk-input" name="password" id="password")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="confirm_password") Confirm Password
                        input(type="password" class="uk-input" name="confirm_password" id="confirm_password")
                    div(class="uk-margin")
                        label(class="uk-form-label" for="add_info") Additional Info
                        textarea(class="uk-textarea" rows="4" name="add_info" id="add_info")
                div(class="uk-modal-footer uk-text-right@m")
                    button(class="uk-button close-button uk-modal-close" type="button") Cancel
                    button(class="uk-button add-button" type="submit") Submit

        // View Credential Modal
        div(class="cred-modal" id="view-cred-modal" uk-modal)
            div(class="uk-modal-dialog")
                button(class="uk-modal-close-default" type="button" uk-close)
                div(class="uk-modal-header")
                    h2(class="uk-modal-title") Credential Info
                div(class="uk-modal-body")
                    table(class="view-cred-table uk-text-left")
                        tbody
                            tr 
                                th Username
                                td bhaswanth65
                            tr
                                th Email
                                td bhaswanthkumar6@gmail.com
                            tr
                                th Mobile
                                td +919985814059
                            tr
                                th Password
                                td Basu@533274
                            tr
                                th(colspan="2") Additional Info
                            tr
                                td(colspan="2") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed felis consequat, tempor velit at, varius libero. Nullam urna urna, laoreet ut posuere quis, sodales vel eros. Vivamus libero augue, pulvinar non est eu, condimentum tristique odio. Maecenas sit amet egestas nunc.